<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event.end_date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<p>
  <strong>Agenda:</strong>
  <%= @event.agenda %>
</p>

<p>
  <strong>Organizer:</strong>
  <%= @event.organizer_id %>
</p>

<label>Organized By:</label><br/>
<%= @event_owner%>

<br/>

<p>
  <strong>Tags: </strong>
  <%= @event.all_tags %>
</p>

<% if user_signed_in? && @event.organizer_id == current_user.id %>
  <label>Join Requests</label>
  <% if @pending_requests.present? %>
    <% @pending_requests.each do |p| %>
      <%= p.user.email %>
      <%= link_to 'Accept', event_accept_request_path(event_id: @event.id, attendance_id: p.id), class: "btn btn-success btn-small" %>
      <%= link_to 'Reject', event_reject_request_path(event_id: @event.id, attendance_id: p.id), class: "btn btn-danger btn-small" %>
    <% end %>
  <% else %>
    <p>No Pending Requests for This Event</p>
  <% end %>
<% end %>




<%= link_to "Join", event_join_path(event_id: @event.id), class: "btn btn-success btn-small" %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
